@charset "utf-8";

body{
	/*background: #fefefe url(../../img/theme/bg/bg.png);*/
	padding-top: 120px;
}

@media (min-width: 768px) and (max-width: 979px) {
}
@media (max-width: 979px) {
}
@media (max-width: 767px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
@media (max-width: 767px) {
}
@media (max-width: 480px) {
}
@media (min-width: 980px) {
}